.form-vertical
  = simple_form_for @tour, class: 'form-vertical' do |f|
    .form-inputs
      = f.error_notification
      = display_base_errors resource
      = f.label :start_date
      = f.text_field :start_date
      = f.label :end_date
      = f.text_field :end_date
      = f.label :questions
      = f.text_area :questions
      = f.input :amenities, collection: @amenities

    .form-actions
      = f.button :submit, class: 'btn-primary btn-large'
      