%h2 Almost done, player. Now create a password to securely access your account.
= simple_form_for(resource, :as => resource_name, :url => confirm_path) do |f|
  = devise_error_messages!
  = f.input :password, input_html: { autofocus: true}
  = f.input :password_confirmation
  = f.input :first_name
  = f.input :last_name
  = f.input :phone
  = f.input :last_sign_in_ip, as: :hidden
  = f.input :confirmation_token, as: :hidden
  = f.button :submit, "Confirm that you are a player"