.modal.hide.fade{ id: "reviewModal#{wine.id}", "aria-hidden" => "false", "aria-labelledby" => "#{wine.name}", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    #myModalLabel.centered
      %h3= wine.winery.name.titleize
      %h2= wine.name.titleize

  .modal-body
    
    = simple_form_for([wine, @review], {html_options: {id: "reviewForm" }})  do |f|
      .tabbable
        %ul#reviewTabs.nav.nav-tabs
          %li.active
            %a{:href => "#tab1", "data-toggle"=>"pill"} Bloocher's block? Try the Bloochinator
          %li
            %a{:href => "#tab2", "data-toggle"=>"pill"} Pro notes
        .tab-content
          #tab1.tab-pane.active
            / = simple_form_for @review do |f|
            / = f.input :wine_id, as: :hidden, input_html: { value: wine.id }
            = f.simple_fields_for :blooch do |fb|
              = fb.text_field 'adjective_1', placeholder: "Pick an adjective"
              = ", "
              = fb.hidden_field('intmodifier', value: intmodifier)
              = hidden_review_item(intmodifier)
              = fb.text_field 'adjective_2', placeholder: "another adjective"
              - if wine.category
                = wine.category + "."
                = fb.hidden_field('wine_category', value: wine.category)
              - else
                = fb.text_field 'wine_category', placeholder: "varietal or type"
                = ".  "
              = adverb
              = fb.text_field 'flavor_1', placeholder: "Pick a flavor"
              = ", " + strength
              = fb.hidden_field('strength', value: strength)
              = fb.text_field 'flavor_2', placeholder: "another flavor"
              = ".  Pair with "
              = fb.hidden_field('pair_setup', value: pair_setup)
              = fb.text_field 'food', placeholder: "a food or dessert"      
              = ".  Drink between "
              = fb.number_field :drink_after, in: Date.today.year...2033, placeholder: "today"
              = " and "
              = fb.number_field :drink_before, in: Date.today.year...2033, placeholder: "never"
              = "."
          #tab2.tab-pane
            .form-horizontal
              = f.input :content, as: :text, label: "notes about this wine", input_html: { rows: 7 }
              = f.input :wine_id, as: :hidden, input_html: { value: wine.id }
        .modal-footer
          .pull-left
            - if user_signed_in?
              Reviewing as #{current_user.name}
            - else
              = f.simple_fields_for :user do |fu|
                = text_field_tag 'review[user][email]', nil, placeholder: "bucky.walter@bloocher.com"
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          = f.button :submit, 'Publish this blooch', class: 'btn-primary'
        %i We don't like being spammed either, but we need your email so that we know our reviews aren't being spammed by one of them deejy types.