!!!
%html{:lang => "en"}
	%head
		= render 'head'
	%body{:class => "#{controller_name} #{action_name}"}
		.container
			= render 'navigation'
			= render 'messages'
		.container
			= yield 
		.container
			= render 'footer' 
   


	- if Rails.env.development?
		= debug(params) 
